/**
 * Basic theme styles.
 */

//*
//	box-sizing: border-box
//
//body
//	@extend %grid-container
//
//	> header
//		@extend %grid-100
//		padding: 20px
//		background-color: gray
//
//section
//	@extend %grid-60
//	padding: 20px
//	background-color: yellow
//
//aside
//	@extend %grid-40
//	padding: 20px
//
//footer
//	@extend %grid-100
//	padding: 20px
//	background-color: green


//    grid xs 16, sm 12, md 8, lg 4, xl 16 4

html
body
    font-size 100%/14px

body
    font-family $font-family-primary
    set-font-size(14px)
    padding 0
    padding-top 50px
    background $color-bg-primary
