/*--------------------------------------------------------------------
 * Main Styles
 *--------------------------------------------------------------------
 * Use this file to compile globally used styles (E.g.: normalize,
 * structure, default tags styling, etc.).
 *
 * P.s.: you probably shouldn't have only one stylesheet in your
 * application, so that you could avoid sending all your styles to the
 * client when you are acctually using only a part of them in a
 * state/page. To createmore stylesheets with different partials, just
 * copy this file and change the imported extensions and partials as
 * needed.
 */


// ------------------------------------
// Import base library.
// ------------------------------------

    @import "../library/library"

// ------------------------------------
// Import Output extensions.
// ------------------------------------

    // Bootstrap

        // Bootstrap Core variables and mixins
//        @import "bootstrap/variables"
//        @import "bootstrap/mixins"

        // Bootstrap Reset and dependencies
//        @import "bootstrap/normalize"
//        @import "bootstrap/print"
//        @import "bootstrap/glyphicons"

        // Bootstrap Core CSS
//        @import "bootstrap/scaffolding"
//        @import "bootstrap/utilities"
//        @import "bootstrap/type"
//        @import "bootstrap/code"
//        @import "bootstrap/grid"
//        @import "bootstrap/tables"
//        @import "bootstrap/forms"
//        @import "bootstrap/buttons"

        // Bootstrap Components
//        @import "bootstrap/component-animations"
//        @import "bootstrap/dropdowns"
//        @import "bootstrap/button-groups"
//        @import "bootstrap/input-groups"
//        @import "bootstrap/navs"
//        @import "bootstrap/navbar"
//        @import "bootstrap/breadcrumbs"
//        @import "bootstrap/pagination"
//        @import "bootstrap/pager"
//        @import "bootstrap/labels"
//        @import "bootstrap/badges"
//        @import "bootstrap/jumbotron"
//        @import "bootstrap/thumbnails"
//        @import "bootstrap/alerts"
//        @import "bootstrap/progress-bars"
//        @import "bootstrap/media"
//        @import "bootstrap/list-group"
//        @import "bootstrap/panels"
//        @import "bootstrap/responsive-embed"
//        @import "bootstrap/wells"
//        @import "bootstrap/close"

        // Components w/ JavaScript
//        @import "bootstrap/modals"
//        @import "bootstrap/tooltip"
//        @import "bootstrap/popovers"
//        @import "bootstrap/carousel"

        // Utility classes
//        @import "bootstrap/responsive-utilities"

// ------------------------------------
// Import partials.
// ------------------------------------

    @import "../partials/shame"
    @import "../partials/base"
