.page
    padding 0
    > .container
        padding 0
    > .page-header
        margin-bottom 0
.home-content
    min-height 300px
    padding 29.5px 0
    +screen-max(sm)
        padding 20px 20px
    +screen(xs)
        padding 0
