html
    body
        .ger-wrapper
            position relative
            display block
            width 100%
            box-sizing border-box
            margin 0
            *
                -webkit-transition width .3s, height .3s, margin .3s, opacity .3s, background-color .3s, color .3s, box-shadow .3s, border-color .3s
                -moz-transition width .3s, height .3s, margin .3s, opacity .3s, background-color .3s, color .3s, box-shadow .3s, border-color .3s
                -ie-transition width .3s, height .3s, margin .3s, opacity .3s, background-color .3s, color .3s, box-shadow .3s, border-color .3s
                -o-transition width .3s, height .3s, margin .3s, opacity .3s, background-color .3s, color .3s, box-shadow .3s, border-color .3s
                transition width .3s, height .3s, margin .3s, opacity .3s, background-color .3s, color .3s, box-shadow .3s, border-color .3s
            .navbar-default
                background #F0F0F0 !important
            .ger-toolbar
                display table
                width 100%
                padding 0 10px 10px
                min-height:40px
                margin-bottom 0
                border-radius 0
                border solid 1px #DDDDDD !important
                .ger-toolbar-item
                    padding 0
                    margin 10px 0 0
                    margin-right 10px
                    .dropdown-menu
                        li
                            cursor pointer
                    &:last-child
                        margin-right 0
            .ger-breadcrumb
                border solid 1px #DDDDDD
                border-top none
                .breadcrumb
                    min-height 38px
                    border-radius 0
                    margin 0
                    background #F9F9F9
                    a
                        cursor pointer
            .ger-content
                position:relative
                display block
                width 100%
                padding 0
                border solid 1px #DDDDDD
                border-top 0
                background #EEEEEE
                .ger-content-list
                    $content-list-height = 325px
                    position relative
                    display block
                    width 100%
                    height $content-list-height
                    overflow-y auto
                    &.scroller
                        .scroller-inner
                            padding 5px
                    .ger-content-list-inner
                        display table
                        width 100%
                        padding 5px
                        .ger-list-item
                            $toolbar-height = 30px
                            $backgroud-color = #DDDDDD
                            position relative
                            float left
                            height 130px
                            padding 5px
                            *
                                -webkit-touch-callout none
                                -webkit-user-select none
                                -khtml-user-select none
                                -moz-user-select none
                                -ms-user-select none
                                user-select none
                            .ger-list-item-inner
                                position relative
                                width 100%
                                height 100%
                                background $backgroud-color
                                .ger-list-item-name
                                .ger-list-item-extension
                                    position absolute
                                    display block
                                    width 100%
                                    height 20px
                                    line-height 20px
                                    right 0
                                    left 0
                                    margin 0
                                    padding 0
                                    background #FFFFFF
                                    text-shadow none
                                    color #333333
                                    cursor default
                                    span
                                        position relative
                                        display block
                                        vertical-align middle
                                        width 100%
                                        height 20px
                                        line-height 20px
                                        margin 0
                                        padding 0
                                    &:before
                                    &:after
                                        content " "
                                        display table
                                        clear both
                                .ger-list-item-name
                                    height 30px
                                    line-height 30px
                                    bottom 0
                                    font-size .9rem
                                    span
                                        height 30px
                                        line-height 30px
                                .ger-list-item-extension
                                    top 0
                                    color #FFFFFF
                                    font-size .8rem
                                    padding 2px 0
                                .ger-list-item-content
                                    position relative
                                    display table
                                    width 100%
                                    height 100%
                                    margin 0
                                    padding 0
                                    outline 0
                                    border none
                                    text-align center
                                    cursor pointer
                                    color #F0F0F0
                                    text-align center
                                    .ger-list-item-content-inner
                                        display table-cell
                                        width 100%
                                        height 100%
                                        margin 0
                                        padding 0
                                        outline 0
                                        border none
                                        text-align center
                                        vertical-align middle
                                        .ger-list-item-img-wrapper
                                            position absolute
                                            top:0
                                            left 0
                                            right 0
                                            bottom 0
                                            img
                                                border none
                                                padding 0
                                                margin 0
                                    &:before
                                    &:after
                                        content " "
                                        display table
                                        clear both
                                .ger-list-item-toolbar
                                    position absolute
                                    width 100%
                                    left 0
                                    bottom 30px
                                    height $toolbar-height
                                    background #444444
                                    cursor default
                                    -webkit-opacity 0
                                    -moz-opacity 0
                                    -ie-opacity 0
                                    -o-opacity 0
                                    opacity 0
                                    .ger-list-item-toolbar-button
                                        padding 4px
                                        color #FFFFFF
                                        &:hover
                                            background #333333
                                &:hover
                                    background darken($backgroud-color,5%)
                                    .ger-list-item-content
                                        color lighten($backgroud-color,10%)
                                    .ger-list-item-toolbar
                                        -webkit-opacity 1
                                        -moz-opacity 1
                                        -ie-opacity 1
                                        -o-opacity 1
                                        opacity 1
                                &.disabled
                                    -webkit-opacity .8
                                    -moz-opacity .8
                                    -ie-opacity .8
                                    -o-opacity .8
                                    opacity .8
                            &.ger-list-item-back
                                $bg-color = #D2D2D2
                                .ger-list-item-inner
                                    background $bg-color
                                    .ger-list-item-content
                                        padding-bottom 0
                                &:hover
                                    .ger-list-item-inner
                                        background darken($bg-color, 10%)
                            &.ger-type-folder
                                $bg-color = #DDDDDD
                                .ger-list-item-inner
                                    background $bg-color
                                    .ger-list-item-content
                                        color #e5bd3a
                                        text-shadow 0 -2px 0 #bf9e32
                                &:hover
                                    .ger-list-item-inner
                                        background darken($bg-color, 10%)
                            &.ger-type-undefined
                                $bg-color = #DDDDDD
                                .ger-list-item-inner
                                    background $bg-color
                                    .ger-list-item-content
                                        overflow hidden
                                        img
                                            min-width 100%
                                        .fa-custom
                                            &:before
                                                content "\f15b"
                                    .ger-list-item-extension
                                        background darken($bg-color, 10%)
                                &:hover
                                    .ger-list-item-inner
                                        background darken($bg-color, 10%)
                                        .ger-list-item-extension
                                            background darken($bg-color, 20%)
                            &.ger-type-text
                                $bg-color = #666666
                                .ger-list-item-inner
                                    background $bg-color
                                    .ger-list-item-content
                                        color #F0F0F0
                                        .fa-custom
                                            &:before
                                                content "\f15c"
                                    .ger-list-item-extension
                                        background darken($bg-color, 10%)
                                &:hover
                                    .ger-list-item-inner
                                        background darken($bg-color, 10%)
                                        .ger-list-item-extension
                                            background darken($bg-color, 20%)
                            &.ger-type-music
                                $bg-color = #af75ce
                                .ger-list-item-inner
                                    background $bg-color
                                    .ger-list-item-content
                                        color #F0F0F0
                                        .fa-custom
                                            &:before
                                                content "\f001"
                                    .ger-list-item-extension
                                        background darken($bg-color, 10%)
                                &:hover
                                    .ger-list-item-inner
                                        background darken($bg-color, 10%)
                                        .ger-list-item-extension
                                            background darken($bg-color, 20%)
                            &.ger-type-video
                                $bg-color = #4b5ec3
                                .ger-list-item-inner
                                    background $bg-color
                                    .ger-list-item-content
                                        color #F0F0F0
                                        .fa-custom
                                            &:before
                                                content "\f03d"
                                    .ger-list-item-extension
                                        background darken($bg-color, 10%)
                                &:hover
                                    .ger-list-item-inner
                                        background darken($bg-color, 10%)
                                        .ger-list-item-extension
                                            background darken($bg-color, 20%)
                            &.ger-type-pdf
                                $bg-color = #ac3939
                                .ger-list-item-inner
                                    background $bg-color
                                    .ger-list-item-content
                                        color #F0F0F0
                                        .fa-custom
                                            &:before
                                                content "\f1c1"
                                    .ger-list-item-extension
                                        background darken($bg-color, 10%)
                                &:hover
                                    .ger-list-item-inner
                                        background darken($bg-color, 10%)
                                        .ger-list-item-extension
                                            background darken($bg-color, 20%)
                            &.ger-type-image
                                $bg-color = #DDDDDD
                                .ger-list-item-inner
                                    background $bg-color
                                    .ger-list-item-content
                                        overflow hidden
                                        img
                                            min-width 100%
                                        .fa-custom
                                            &:before
                                                content ""
                                    .ger-list-item-extension
                                        display none
                                        color #666666
                                        background darken($bg-color, 10%)
                                &:hover
                                    .ger-list-item-inner
                                        background darken($bg-color, 10%)
                                        .ger-list-item-extension
                                            background darken($bg-color, 20%)
                            &.selected
                                .ger-list-item-inner
                                    border solid 5px #428BCA
                            @media (min-width:1201px)
                                $prop = 100%/7
                                $height = 150px
                                width $prop
                                height $height
                                .ger-list-item-inner
                                    .ger-list-item-content
                                        height $height - 30
                                &.ger-list-item-back
                                    .ger-list-item-inner
                                        .ger-list-item-content
                                            height $height - 10
                                &.ger-type-folder
                                &.ger-type-image
                                    .ger-list-item-inner
                                        .ger-list-item-content
                                            height $height - 40
                            @media (max-width:1200px)
                                $prop = 100%/6
                                $height = 157px
                                width $prop
                                height $height
                                .ger-list-item-inner
                                    .ger-list-item-content
                                        height $height - 30
                                &.ger-list-item-back
                                    .ger-list-item-inner
                                        .ger-list-item-content
                                            height $height - 10
                                &.ger-type-folder
                                &.ger-type-image
                                    .ger-list-item-inner
                                        .ger-list-item-content
                                            height $height - 40
                            @media (max-width:990px)
                                $prop = 100%/5
                                $height = 157px
                                width $prop
                                height $height
                                .ger-list-item-inner
                                    .ger-list-item-content
                                        height $height - 30
                                &.ger-list-item-back
                                    .ger-list-item-inner
                                        .ger-list-item-content
                                            height $height - 10
                                &.ger-type-folder
                                &.ger-type-image
                                    .ger-list-item-inner
                                        .ger-list-item-content
                                            height $height - 40
                            @media (max-width:767px)
                                $prop = 100%/4
                                $height = 145px
                                width $prop
                                height $height + $toolbar-height
                                .ger-list-item-inner
                                    .ger-list-item-content
                                        height $height - 30
                                    .ger-list-item-toolbar
                                        -webkit-opacity 1
                                        -moz-opacity 1
                                        -ie-opacity 1
                                        -o-opacity 1
                                        opacity 1
                                &.ger-list-item-back
                                    .ger-list-item-inner
                                        .ger-list-item-content
                                            height $height + 20
                                &.ger-type-folder
                                &.ger-type-image
                                    .ger-list-item-inner
                                        .ger-list-item-content
                                            height $height - 40
                            @media (max-width:579px)
                                $prop = 100%/2
                                $height = 135px
                                width $prop
                                height $height + $toolbar-height
                                .ger-list-item-inner
                                    .ger-list-item-content
                                        height $height - 20
                                &.ger-list-item-back
                                    .ger-list-item-inner
                                        .ger-list-item-content
                                            height $height + 20
                                &.ger-type-folder
                                &.ger-type-image
                                    .ger-list-item-inner
                                        .ger-list-item-content
                                            height $height - 30
                            @media (max-width:400px)
                                $height = 105px
                                height $height + $toolbar-height
                                .ger-list-item-inner
                                    .ger-list-item-content
                                        height $height - 20
                                        .fa
                                            font-size 2.4rem
                                &.ger-list-item-back
                                    .ger-list-item-inner
                                        .ger-list-item-content
                                            height $height + 20
                                &.ger-type-folder
                                &.ger-type-image
                                    .ger-list-item-inner
                                        .ger-list-item-content
                                            height $height - 30
                        &.ger-content-list-inner-loading
                            position relative
                            display block
                            width 100%
                            height $content-list-height
                            line-height $content-list-height
                            color #DDDDDD
                    @media (max-width:767px)
                        $content-list-height = 185px
                        height $content-list-height
                        .ger-content-list-inner
                            &.ger-content-list-inner-loading
                                height $content-list-height
                                line-height $content-list-height
                    @media screen and (max-width 579px)
                        $content-list-height = 175px
                        height $content-list-height
                        .ger-content-list-inner
                            &.ger-content-list-inner-loading
                                height $content-list-height
                                line-height $content-list-height
                .ger-content-toolbar
                    position relative
                    display table
                    bottom 0
                    width 100%
                    min-height 44px
                    margin 0
                    padding 0
                    border-radius 0
                    box-shadow none
                    border-top solid 1px #DDDDDD
                    .ger-content-toolbar-item
                        padding 10px
                        .btn
                            margin-right 5px
                            &:last-child
                                margin-right 0

        .ger-refresh-icon
            position:absolute
            top:50%
            left:50%
            margin-left -5px
            margin-top:-25px

        .ger-file-button-display
            display table
            padding 10px
            margin 0
            margin-top 10px
            .ger-file-button-display-header
                margin-bottom 10px
                padding-bottom 10px
                border-bottom solid 1px #F0F0F0
                .btn
                    margin-right 10px
                    &:last-child
                        margin-right 0
            a
                text-decoration none
                cursor pointer
            [class*='col-']
                padding 5px !important
                .thumbnail
                    position relative
                    float left
                    width 100%
                    height 100px
                    margin 0
                    .imgLiquid
                        width 100%
                        height 100%
                    .remove
                        position absolute
                        right 4px
                        top 4px
                        background #FFFFFF
                        padding 2px
                        border-bottom-left-radius 5px
                    @media screen and (min-width 1200px)
                        min-width 60px
                        height 60px
                    @media screen and (max-width 1199px)
                        min-width 140px
                        height 140px
                    @media screen and (max-width 989px)
                        min-width 180px
                        height 180px
                    @media screen and (max-width 767px)
                        min-width 230px
                        height 230px
                    @media screen and (max-width 499px)
                        min-width 160px
                        height 160px
            ul
                list-style none
                padding 0
                margin 0
            &.well-table
                [class*='col-']
                    .thumbnail
                        width 100px
                        height 100px
            &:not(.well-table)
                width 100%

        .ger-info
            display block
            width 90%
            margin 0 auto
            .row
                border-bottom solid 1px #EEEEEE
                padding 10px 0
                label
                    margin 0
                    text-align right
                    word-wrap break-word
                    @media screen and (max-width 767px)
                        text-align left
                a
                    word-wrap break-word
                &:last-child
                    border-bottom none

        .ger-upload-drag-zone
            margin-bottom 0
            padding 100px 19px
            h3
                margin 0
        .ger-upload-list
            max-height 300px
            overflow-y auto
            margin 0
            .ger-upload-list-item
                display table
                width 100%
                .ger-upload-list-item-block
                    display table-cell
                    width auto
                    height auto
                    padding 0
                    vertical-align top
                    &.ger-upload-list-item-thumb
                        width 200px
                    &:not(.ger-upload-list-item-thumb):not(:first-child)
                        padding-left 20px
                    .gr-upload-file-info
                        display table
                        width 100%
                    .ger-table-actions
                        text-align right
                        .gr-upload-file-status
                            margin-right 10px
                    canvas
                        height 100px
                        background-color #f3f3f3
                        border 1px solid #c3c3c3
                        margin 0
