html body .ger-wrapper {
  position: relative;
  display: block;
  width: 100%;
  box-sizing: border-box;
  margin: 0;
}
html body .ger-wrapper * {
  -webkit-transition: width 0.3s, height 0.3s, margin 0.3s, opacity 0.3s, background-color 0.3s, color 0.3s, box-shadow 0.3s, border-color 0.3s;
  -moz-transition: width 0.3s, height 0.3s, margin 0.3s, opacity 0.3s, background-color 0.3s, color 0.3s, box-shadow 0.3s, border-color 0.3s;
  -ie-transition: width 0.3s, height 0.3s, margin 0.3s, opacity 0.3s, background-color 0.3s, color 0.3s, box-shadow 0.3s, border-color 0.3s;
  -o-transition: width 0.3s, height 0.3s, margin 0.3s, opacity 0.3s, background-color 0.3s, color 0.3s, box-shadow 0.3s, border-color 0.3s;
  transition: width 0.3s, height 0.3s, margin 0.3s, opacity 0.3s, background-color 0.3s, color 0.3s, box-shadow 0.3s, border-color 0.3s;
}
html body .ger-wrapper .navbar-default {
  background: #f0f0f0 !important;
}
html body .ger-wrapper .ger-toolbar {
  display: table;
  width: 100%;
  padding: 0 10px 10px;
  min-height: 40px;
  margin-bottom: 0;
  border-radius: 0;
  border: solid 1px #ddd !important;
}
html body .ger-wrapper .ger-toolbar .ger-toolbar-item {
  padding: 0;
  margin: 10px 0 0;
  margin-right: 10px;
}
html body .ger-wrapper .ger-toolbar .ger-toolbar-item .dropdown-menu li {
  cursor: pointer;
}
html body .ger-wrapper .ger-toolbar .ger-toolbar-item:last-child {
  margin-right: 0;
}
html body .ger-wrapper .ger-breadcrumb {
  border: solid 1px #ddd;
  border-top: none;
}
html body .ger-wrapper .ger-breadcrumb .breadcrumb {
  min-height: 38px;
  border-radius: 0;
  margin: 0;
  background: #f9f9f9;
}
html body .ger-wrapper .ger-breadcrumb .breadcrumb a {
  cursor: pointer;
}
html body .ger-wrapper .ger-content {
  position: relative;
  display: block;
  width: 100%;
  padding: 0;
  border: solid 1px #ddd;
  border-top: 0;
  background: #eee;
}
html body .ger-wrapper .ger-content .ger-content-list {
  position: relative;
  display: block;
  width: 100%;
  height: 325px;
  overflow-y: auto;
}
html body .ger-wrapper .ger-content .ger-content-list.scroller .scroller-inner {
  padding: 5px;
}
html body .ger-wrapper .ger-content .ger-content-list .ger-content-list-inner {
  display: table;
  width: 100%;
  padding: 5px;
}
html body .ger-wrapper .ger-content .ger-content-list .ger-content-list-inner .ger-list-item {
  position: relative;
  float: left;
  height: 130px;
  padding: 5px;
}
html body .ger-wrapper .ger-content .ger-content-list .ger-content-list-inner .ger-list-item * {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
html body .ger-wrapper .ger-content .ger-content-list .ger-content-list-inner .ger-list-item .ger-list-item-inner {
  position: relative;
  width: 100%;
  height: 100%;
  background: #ddd;
}
html body .ger-wrapper .ger-content .ger-content-list .ger-content-list-inner .ger-list-item .ger-list-item-inner .ger-list-item-name,
html body .ger-wrapper .ger-content .ger-content-list .ger-content-list-inner .ger-list-item .ger-list-item-inner .ger-list-item-extension {
  position: absolute;
  display: block;
  width: 100%;
  height: 20px;
  line-height: 20px;
  right: 0;
  left: 0;
  margin: 0;
  padding: 0;
  background: #fff;
  text-shadow: none;
  color: #333;
  cursor: default;
}
html body .ger-wrapper .ger-content .ger-content-list .ger-content-list-inner .ger-list-item .ger-list-item-inner .ger-list-item-name span,
html body .ger-wrapper .ger-content .ger-content-list .ger-content-list-inner .ger-list-item .ger-list-item-inner .ger-list-item-extension span {
  position: relative;
  display: block;
  vertical-align: middle;
  width: 100%;
  height: 20px;
  line-height: 20px;
  margin: 0;
  padding: 0;
}
html body .ger-wrapper .ger-content .ger-content-list .ger-content-list-inner .ger-list-item .ger-list-item-inner .ger-list-item-name:before,
html body .ger-wrapper .ger-content .ger-content-list .ger-content-list-inner .ger-list-item .ger-list-item-inner .ger-list-item-extension:before,
html body .ger-wrapper .ger-content .ger-content-list .ger-content-list-inner .ger-list-item .ger-list-item-inner .ger-list-item-name:after,
html body .ger-wrapper .ger-content .ger-content-list .ger-content-list-inner .ger-list-item .ger-list-item-inner .ger-list-item-extension:after {
  content: " ";
  display: table;
  clear: both;
}
html body .ger-wrapper .ger-content .ger-content-list .ger-content-list-inner .ger-list-item .ger-list-item-inner .ger-list-item-name {
  height: 30px;
  line-height: 30px;
  bottom: 0;
  font-size: 0.9rem;
}
html body .ger-wrapper .ger-content .ger-content-list .ger-content-list-inner .ger-list-item .ger-list-item-inner .ger-list-item-name span {
  height: 30px;
  line-height: 30px;
}
html body .ger-wrapper .ger-content .ger-content-list .ger-content-list-inner .ger-list-item .ger-list-item-inner .ger-list-item-extension {
  top: 0;
  color: #fff;
  font-size: 0.8rem;
  padding: 2px 0;
}
html body .ger-wrapper .ger-content .ger-content-list .ger-content-list-inner .ger-list-item .ger-list-item-inner .ger-list-item-content {
  position: relative;
  display: table;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  outline: 0;
  border: none;
  text-align: center;
  cursor: pointer;
  color: #f0f0f0;
  text-align: center;
}
html body .ger-wrapper .ger-content .ger-content-list .ger-content-list-inner .ger-list-item .ger-list-item-inner .ger-list-item-content .ger-list-item-content-inner {
  display: table-cell;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  outline: 0;
  border: none;
  text-align: center;
  vertical-align: middle;
}
html body .ger-wrapper .ger-content .ger-content-list .ger-content-list-inner .ger-list-item .ger-list-item-inner .ger-list-item-content .ger-list-item-content-inner .ger-list-item-img-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
html body .ger-wrapper .ger-content .ger-content-list .ger-content-list-inner .ger-list-item .ger-list-item-inner .ger-list-item-content .ger-list-item-content-inner .ger-list-item-img-wrapper img {
  border: none;
  padding: 0;
  margin: 0;
}
html body .ger-wrapper .ger-content .ger-content-list .ger-content-list-inner .ger-list-item .ger-list-item-inner .ger-list-item-content:before,
html body .ger-wrapper .ger-content .ger-content-list .ger-content-list-inner .ger-list-item .ger-list-item-inner .ger-list-item-content:after {
  content: " ";
  display: table;
  clear: both;
}
html body .ger-wrapper .ger-content .ger-content-list .ger-content-list-inner .ger-list-item .ger-list-item-inner .ger-list-item-toolbar {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 30px;
  height: 30px;
  background: #444;
  cursor: default;
  -webkit-opacity: 0;
  -moz-opacity: 0;
  -ie-opacity: 0;
  -o-opacity: 0;
  opacity: 0;
}
html body .ger-wrapper .ger-content .ger-content-list .ger-content-list-inner .ger-list-item .ger-list-item-inner .ger-list-item-toolbar .ger-list-item-toolbar-button {
  padding: 4px;
  color: #fff;
}
html body .ger-wrapper .ger-content .ger-content-list .ger-content-list-inner .ger-list-item .ger-list-item-inner .ger-list-item-toolbar .ger-list-item-toolbar-button:hover {
  background: #333;
}
html body .ger-wrapper .ger-content .ger-content-list .ger-content-list-inner .ger-list-item .ger-list-item-inner:hover {
  background: #d2d2d2;
}
html body .ger-wrapper .ger-content .ger-content-list .ger-content-list-inner .ger-list-item .ger-list-item-inner:hover .ger-list-item-content {
  color: #e0e0e0;
}
html body .ger-wrapper .ger-content .ger-content-list .ger-content-list-inner .ger-list-item .ger-list-item-inner:hover .ger-list-item-toolbar {
  -webkit-opacity: 1;
  -moz-opacity: 1;
  -ie-opacity: 1;
  -o-opacity: 1;
  opacity: 1;
}
html body .ger-wrapper .ger-content .ger-content-list .ger-content-list-inner .ger-list-item .ger-list-item-inner.disabled {
  -webkit-opacity: 0.8;
  -moz-opacity: 0.8;
  -ie-opacity: 0.8;
  -o-opacity: 0.8;
  opacity: 0.8;
}
html body .ger-wrapper .ger-content .ger-content-list .ger-content-list-inner .ger-list-item.ger-list-item-back .ger-list-item-inner {
  background: #d2d2d2;
}
html body .ger-wrapper .ger-content .ger-content-list .ger-content-list-inner .ger-list-item.ger-list-item-back .ger-list-item-inner .ger-list-item-content {
  padding-bottom: 0;
}
html body .ger-wrapper .ger-content .ger-content-list .ger-content-list-inner .ger-list-item.ger-list-item-back:hover .ger-list-item-inner {
  background: #bdbdbd;
}
html body .ger-wrapper .ger-content .ger-content-list .ger-content-list-inner .ger-list-item.ger-type-folder .ger-list-item-inner {
  background: #ddd;
}
html body .ger-wrapper .ger-content .ger-content-list .ger-content-list-inner .ger-list-item.ger-type-folder .ger-list-item-inner .ger-list-item-content {
  color: #e5bd3a;
  text-shadow: 0 -2px 0 #bf9e32;
}
html body .ger-wrapper .ger-content .ger-content-list .ger-content-list-inner .ger-list-item.ger-type-folder:hover .ger-list-item-inner {
  background: #c7c7c7;
}
html body .ger-wrapper .ger-content .ger-content-list .ger-content-list-inner .ger-list-item.ger-type-undefined .ger-list-item-inner {
  background: #ddd;
}
html body .ger-wrapper .ger-content .ger-content-list .ger-content-list-inner .ger-list-item.ger-type-undefined .ger-list-item-inner .ger-list-item-content {
  overflow: hidden;
}
html body .ger-wrapper .ger-content .ger-content-list .ger-content-list-inner .ger-list-item.ger-type-undefined .ger-list-item-inner .ger-list-item-content img {
  min-width: 100%;
}
html body .ger-wrapper .ger-content .ger-content-list .ger-content-list-inner .ger-list-item.ger-type-undefined .ger-list-item-inner .ger-list-item-content .fa-custom:before {
  content: "\f15b";
}
html body .ger-wrapper .ger-content .ger-content-list .ger-content-list-inner .ger-list-item.ger-type-undefined .ger-list-item-inner .ger-list-item-extension {
  background: #c7c7c7;
}
html body .ger-wrapper .ger-content .ger-content-list .ger-content-list-inner .ger-list-item.ger-type-undefined:hover .ger-list-item-inner {
  background: #c7c7c7;
}
html body .ger-wrapper .ger-content .ger-content-list .ger-content-list-inner .ger-list-item.ger-type-undefined:hover .ger-list-item-inner .ger-list-item-extension {
  background: #b1b1b1;
}
html body .ger-wrapper .ger-content .ger-content-list .ger-content-list-inner .ger-list-item.ger-type-text .ger-list-item-inner {
  background: #666;
}
html body .ger-wrapper .ger-content .ger-content-list .ger-content-list-inner .ger-list-item.ger-type-text .ger-list-item-inner .ger-list-item-content {
  color: #f0f0f0;
}
html body .ger-wrapper .ger-content .ger-content-list .ger-content-list-inner .ger-list-item.ger-type-text .ger-list-item-inner .ger-list-item-content .fa-custom:before {
  content: "\f15c";
}
html body .ger-wrapper .ger-content .ger-content-list .ger-content-list-inner .ger-list-item.ger-type-text .ger-list-item-inner .ger-list-item-extension {
  background: #5c5c5c;
}
html body .ger-wrapper .ger-content .ger-content-list .ger-content-list-inner .ger-list-item.ger-type-text:hover .ger-list-item-inner {
  background: #5c5c5c;
}
html body .ger-wrapper .ger-content .ger-content-list .ger-content-list-inner .ger-list-item.ger-type-text:hover .ger-list-item-inner .ger-list-item-extension {
  background: #525252;
}
html body .ger-wrapper .ger-content .ger-content-list .ger-content-list-inner .ger-list-item.ger-type-music .ger-list-item-inner {
  background: #af75ce;
}
html body .ger-wrapper .ger-content .ger-content-list .ger-content-list-inner .ger-list-item.ger-type-music .ger-list-item-inner .ger-list-item-content {
  color: #f0f0f0;
}
html body .ger-wrapper .ger-content .ger-content-list .ger-content-list-inner .ger-list-item.ger-type-music .ger-list-item-inner .ger-list-item-content .fa-custom:before {
  content: "\f001";
}
html body .ger-wrapper .ger-content .ger-content-list .ger-content-list-inner .ger-list-item.ger-type-music .ger-list-item-inner .ger-list-item-extension {
  background: #a15dc6;
}
html body .ger-wrapper .ger-content .ger-content-list .ger-content-list-inner .ger-list-item.ger-type-music:hover .ger-list-item-inner {
  background: #a15dc6;
}
html body .ger-wrapper .ger-content .ger-content-list .ger-content-list-inner .ger-list-item.ger-type-music:hover .ger-list-item-inner .ger-list-item-extension {
  background: #9345bd;
}
html body .ger-wrapper .ger-content .ger-content-list .ger-content-list-inner .ger-list-item.ger-type-video .ger-list-item-inner {
  background: #4b5ec3;
}
html body .ger-wrapper .ger-content .ger-content-list .ger-content-list-inner .ger-list-item.ger-type-video .ger-list-item-inner .ger-list-item-content {
  color: #f0f0f0;
}
html body .ger-wrapper .ger-content .ger-content-list .ger-content-list-inner .ger-list-item.ger-type-video .ger-list-item-inner .ger-list-item-content .fa-custom:before {
  content: "\f03d";
}
html body .ger-wrapper .ger-content .ger-content-list .ger-content-list-inner .ger-list-item.ger-type-video .ger-list-item-inner .ger-list-item-extension {
  background: #3d50b6;
}
html body .ger-wrapper .ger-content .ger-content-list .ger-content-list-inner .ger-list-item.ger-type-video:hover .ger-list-item-inner {
  background: #3d50b6;
}
html body .ger-wrapper .ger-content .ger-content-list .ger-content-list-inner .ger-list-item.ger-type-video:hover .ger-list-item-inner .ger-list-item-extension {
  background: #3647a2;
}
html body .ger-wrapper .ger-content .ger-content-list .ger-content-list-inner .ger-list-item.ger-type-pdf .ger-list-item-inner {
  background: #ac3939;
}
html body .ger-wrapper .ger-content .ger-content-list .ger-content-list-inner .ger-list-item.ger-type-pdf .ger-list-item-inner .ger-list-item-content {
  color: #f0f0f0;
}
html body .ger-wrapper .ger-content .ger-content-list .ger-content-list-inner .ger-list-item.ger-type-pdf .ger-list-item-inner .ger-list-item-content .fa-custom:before {
  content: "\f1c1";
}
html body .ger-wrapper .ger-content .ger-content-list .ger-content-list-inner .ger-list-item.ger-type-pdf .ger-list-item-inner .ger-list-item-extension {
  background: #9b3333;
}
html body .ger-wrapper .ger-content .ger-content-list .ger-content-list-inner .ger-list-item.ger-type-pdf:hover .ger-list-item-inner {
  background: #9b3333;
}
html body .ger-wrapper .ger-content .ger-content-list .ger-content-list-inner .ger-list-item.ger-type-pdf:hover .ger-list-item-inner .ger-list-item-extension {
  background: #8a2e2e;
}
html body .ger-wrapper .ger-content .ger-content-list .ger-content-list-inner .ger-list-item.ger-type-image .ger-list-item-inner {
  background: #ddd;
}
html body .ger-wrapper .ger-content .ger-content-list .ger-content-list-inner .ger-list-item.ger-type-image .ger-list-item-inner .ger-list-item-content {
  overflow: hidden;
}
html body .ger-wrapper .ger-content .ger-content-list .ger-content-list-inner .ger-list-item.ger-type-image .ger-list-item-inner .ger-list-item-content img {
  min-width: 100%;
}
html body .ger-wrapper .ger-content .ger-content-list .ger-content-list-inner .ger-list-item.ger-type-image .ger-list-item-inner .ger-list-item-content .fa-custom:before {
  content: "";
}
html body .ger-wrapper .ger-content .ger-content-list .ger-content-list-inner .ger-list-item.ger-type-image .ger-list-item-inner .ger-list-item-extension {
  display: none;
  color: #666;
  background: #c7c7c7;
}
html body .ger-wrapper .ger-content .ger-content-list .ger-content-list-inner .ger-list-item.ger-type-image:hover .ger-list-item-inner {
  background: #c7c7c7;
}
html body .ger-wrapper .ger-content .ger-content-list .ger-content-list-inner .ger-list-item.ger-type-image:hover .ger-list-item-inner .ger-list-item-extension {
  background: #b1b1b1;
}
html body .ger-wrapper .ger-content .ger-content-list .ger-content-list-inner .ger-list-item.selected .ger-list-item-inner {
  border: solid 5px #428bca;
}
@media (min-width: 1201px) {
  html body .ger-wrapper .ger-content .ger-content-list .ger-content-list-inner .ger-list-item {
    width: 14.285714285714286%;
    height: 150px;
  }
  html body .ger-wrapper .ger-content .ger-content-list .ger-content-list-inner .ger-list-item .ger-list-item-inner .ger-list-item-content {
    height: 120px;
  }
  html body .ger-wrapper .ger-content .ger-content-list .ger-content-list-inner .ger-list-item.ger-list-item-back .ger-list-item-inner .ger-list-item-content {
    height: 140px;
  }
  html body .ger-wrapper .ger-content .ger-content-list .ger-content-list-inner .ger-list-item.ger-type-folder .ger-list-item-inner .ger-list-item-content,
  html body .ger-wrapper .ger-content .ger-content-list .ger-content-list-inner .ger-list-item.ger-type-image .ger-list-item-inner .ger-list-item-content {
    height: 110px;
  }
}
@media (max-width: 1200px) {
  html body .ger-wrapper .ger-content .ger-content-list .ger-content-list-inner .ger-list-item {
    width: 16.666666666666668%;
    height: 157px;
  }
  html body .ger-wrapper .ger-content .ger-content-list .ger-content-list-inner .ger-list-item .ger-list-item-inner .ger-list-item-content {
    height: 127px;
  }
  html body .ger-wrapper .ger-content .ger-content-list .ger-content-list-inner .ger-list-item.ger-list-item-back .ger-list-item-inner .ger-list-item-content {
    height: 147px;
  }
  html body .ger-wrapper .ger-content .ger-content-list .ger-content-list-inner .ger-list-item.ger-type-folder .ger-list-item-inner .ger-list-item-content,
  html body .ger-wrapper .ger-content .ger-content-list .ger-content-list-inner .ger-list-item.ger-type-image .ger-list-item-inner .ger-list-item-content {
    height: 117px;
  }
}
@media (max-width: 990px) {
  html body .ger-wrapper .ger-content .ger-content-list .ger-content-list-inner .ger-list-item {
    width: 20%;
    height: 157px;
  }
  html body .ger-wrapper .ger-content .ger-content-list .ger-content-list-inner .ger-list-item .ger-list-item-inner .ger-list-item-content {
    height: 127px;
  }
  html body .ger-wrapper .ger-content .ger-content-list .ger-content-list-inner .ger-list-item.ger-list-item-back .ger-list-item-inner .ger-list-item-content {
    height: 147px;
  }
  html body .ger-wrapper .ger-content .ger-content-list .ger-content-list-inner .ger-list-item.ger-type-folder .ger-list-item-inner .ger-list-item-content,
  html body .ger-wrapper .ger-content .ger-content-list .ger-content-list-inner .ger-list-item.ger-type-image .ger-list-item-inner .ger-list-item-content {
    height: 117px;
  }
}
@media (max-width: 767px) {
  html body .ger-wrapper .ger-content .ger-content-list .ger-content-list-inner .ger-list-item {
    width: 25%;
    height: 175px;
  }
  html body .ger-wrapper .ger-content .ger-content-list .ger-content-list-inner .ger-list-item .ger-list-item-inner .ger-list-item-content {
    height: 115px;
  }
  html body .ger-wrapper .ger-content .ger-content-list .ger-content-list-inner .ger-list-item .ger-list-item-inner .ger-list-item-toolbar {
    -webkit-opacity: 1;
    -moz-opacity: 1;
    -ie-opacity: 1;
    -o-opacity: 1;
    opacity: 1;
  }
  html body .ger-wrapper .ger-content .ger-content-list .ger-content-list-inner .ger-list-item.ger-list-item-back .ger-list-item-inner .ger-list-item-content {
    height: 165px;
  }
  html body .ger-wrapper .ger-content .ger-content-list .ger-content-list-inner .ger-list-item.ger-type-folder .ger-list-item-inner .ger-list-item-content,
  html body .ger-wrapper .ger-content .ger-content-list .ger-content-list-inner .ger-list-item.ger-type-image .ger-list-item-inner .ger-list-item-content {
    height: 105px;
  }
}
@media (max-width: 579px) {
  html body .ger-wrapper .ger-content .ger-content-list .ger-content-list-inner .ger-list-item {
    width: 50%;
    height: 165px;
  }
  html body .ger-wrapper .ger-content .ger-content-list .ger-content-list-inner .ger-list-item .ger-list-item-inner .ger-list-item-content {
    height: 115px;
  }
  html body .ger-wrapper .ger-content .ger-content-list .ger-content-list-inner .ger-list-item.ger-list-item-back .ger-list-item-inner .ger-list-item-content {
    height: 155px;
  }
  html body .ger-wrapper .ger-content .ger-content-list .ger-content-list-inner .ger-list-item.ger-type-folder .ger-list-item-inner .ger-list-item-content,
  html body .ger-wrapper .ger-content .ger-content-list .ger-content-list-inner .ger-list-item.ger-type-image .ger-list-item-inner .ger-list-item-content {
    height: 105px;
  }
}
@media (max-width: 400px) {
  html body .ger-wrapper .ger-content .ger-content-list .ger-content-list-inner .ger-list-item {
    height: 135px;
  }
  html body .ger-wrapper .ger-content .ger-content-list .ger-content-list-inner .ger-list-item .ger-list-item-inner .ger-list-item-content {
    height: 85px;
  }
  html body .ger-wrapper .ger-content .ger-content-list .ger-content-list-inner .ger-list-item .ger-list-item-inner .ger-list-item-content .fa {
    font-size: 2.4rem;
  }
  html body .ger-wrapper .ger-content .ger-content-list .ger-content-list-inner .ger-list-item.ger-list-item-back .ger-list-item-inner .ger-list-item-content {
    height: 125px;
  }
  html body .ger-wrapper .ger-content .ger-content-list .ger-content-list-inner .ger-list-item.ger-type-folder .ger-list-item-inner .ger-list-item-content,
  html body .ger-wrapper .ger-content .ger-content-list .ger-content-list-inner .ger-list-item.ger-type-image .ger-list-item-inner .ger-list-item-content {
    height: 75px;
  }
}
html body .ger-wrapper .ger-content .ger-content-list .ger-content-list-inner.ger-content-list-inner-loading {
  position: relative;
  display: block;
  width: 100%;
  height: 325px;
  line-height: 325px;
  color: #ddd;
}
@media (max-width: 767px) {
  html body .ger-wrapper .ger-content .ger-content-list {
    height: 185px;
  }
  html body .ger-wrapper .ger-content .ger-content-list .ger-content-list-inner.ger-content-list-inner-loading {
    height: 185px;
    line-height: 185px;
  }
}
@media screen and (max-width: 579px) {
  html body .ger-wrapper .ger-content .ger-content-list {
    height: 175px;
  }
  html body .ger-wrapper .ger-content .ger-content-list .ger-content-list-inner.ger-content-list-inner-loading {
    height: 175px;
    line-height: 175px;
  }
}
html body .ger-wrapper .ger-content .ger-content-toolbar {
  position: relative;
  display: table;
  bottom: 0;
  width: 100%;
  min-height: 44px;
  margin: 0;
  padding: 0;
  border-radius: 0;
  box-shadow: none;
  border-top: solid 1px #ddd;
}
html body .ger-wrapper .ger-content .ger-content-toolbar .ger-content-toolbar-item {
  padding: 10px;
}
html body .ger-wrapper .ger-content .ger-content-toolbar .ger-content-toolbar-item .btn {
  margin-right: 5px;
}
html body .ger-wrapper .ger-content .ger-content-toolbar .ger-content-toolbar-item .btn:last-child {
  margin-right: 0;
}
html body .ger-refresh-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -5px;
  margin-top: -25px;
}
html body .ger-file-button-display {
  display: table;
  padding: 10px;
  margin: 0;
  margin-top: 10px;
}
html body .ger-file-button-display .ger-file-button-display-header {
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: solid 1px #f0f0f0;
}
html body .ger-file-button-display .ger-file-button-display-header .btn {
  margin-right: 10px;
}
html body .ger-file-button-display .ger-file-button-display-header .btn:last-child {
  margin-right: 0;
}
html body .ger-file-button-display a {
  text-decoration: none;
  cursor: pointer;
}
html body .ger-file-button-display [class*='col-'] {
  padding: 5px !important;
}
html body .ger-file-button-display [class*='col-'] .thumbnail {
  position: relative;
  float: left;
  width: 100%;
  height: 100px;
  margin: 0;
}
html body .ger-file-button-display [class*='col-'] .thumbnail .imgLiquid {
  width: 100%;
  height: 100%;
}
html body .ger-file-button-display [class*='col-'] .thumbnail .remove {
  position: absolute;
  right: 4px;
  top: 4px;
  background: #fff;
  padding: 2px;
  border-bottom-left-radius: 5px;
}
@media screen and (min-width: 1200px) {
  html body .ger-file-button-display [class*='col-'] .thumbnail {
    min-width: 60px;
    height: 60px;
  }
}
@media screen and (max-width: 1199px) {
  html body .ger-file-button-display [class*='col-'] .thumbnail {
    min-width: 140px;
    height: 140px;
  }
}
@media screen and (max-width: 989px) {
  html body .ger-file-button-display [class*='col-'] .thumbnail {
    min-width: 180px;
    height: 180px;
  }
}
@media screen and (max-width: 767px) {
  html body .ger-file-button-display [class*='col-'] .thumbnail {
    min-width: 230px;
    height: 230px;
  }
}
@media screen and (max-width: 499px) {
  html body .ger-file-button-display [class*='col-'] .thumbnail {
    min-width: 160px;
    height: 160px;
  }
}
html body .ger-file-button-display ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
html body .ger-file-button-display.well-table [class*='col-'] .thumbnail {
  width: 100px;
  height: 100px;
}
html body .ger-file-button-display:not(.well-table) {
  width: 100%;
}
html body .ger-info {
  display: block;
  width: 90%;
  margin: 0 auto;
}
html body .ger-info .row {
  border-bottom: solid 1px #eee;
  padding: 10px 0;
}
html body .ger-info .row label {
  margin: 0;
  text-align: right;
  word-wrap: break-word;
}
@media screen and (max-width: 767px) {
  html body .ger-info .row label {
    text-align: left;
  }
}
html body .ger-info .row a {
  word-wrap: break-word;
}
html body .ger-info .row:last-child {
  border-bottom: none;
}
html body .ger-upload-drag-zone {
  margin-bottom: 0;
  padding: 100px 19px;
}
html body .ger-upload-drag-zone h3 {
  margin: 0;
}
html body .ger-upload-list {
  max-height: 300px;
  overflow-y: auto;
  margin: 0;
}
html body .ger-upload-list .ger-upload-list-item {
  display: table;
  width: 100%;
}
html body .ger-upload-list .ger-upload-list-item .ger-upload-list-item-block {
  display: table-cell;
  width: auto;
  height: auto;
  padding: 0;
  vertical-align: top;
}
html body .ger-upload-list .ger-upload-list-item .ger-upload-list-item-block.ger-upload-list-item-thumb {
  width: 200px;
}
html body .ger-upload-list .ger-upload-list-item .ger-upload-list-item-block:not(.ger-upload-list-item-thumb):not(:first-child) {
  padding-left: 20px;
}
html body .ger-upload-list .ger-upload-list-item .ger-upload-list-item-block .gr-upload-file-info {
  display: table;
  width: 100%;
}
html body .ger-upload-list .ger-upload-list-item .ger-upload-list-item-block .ger-table-actions {
  text-align: right;
}
html body .ger-upload-list .ger-upload-list-item .ger-upload-list-item-block .ger-table-actions .gr-upload-file-status {
  margin-right: 10px;
}
html body .ger-upload-list .ger-upload-list-item .ger-upload-list-item-block canvas {
  height: 100px;
  background-color: #f3f3f3;
  border: 1px solid #c3c3c3;
  margin: 0;
}

/*# sourceMappingURL=../../../../../server/libraries/client/gr-filemanager/css/gr-filemanager.css.map */